@import "vars";


/*==========  Desktop First  ==========*/

@media screen and (min-width: 1780px) {
    .container {
        max-width: 1720px;
    }
}

@media screen and (min-width: 1480px) {
    .container {
        max-width: 1420px;
    }
}

@media screen and (max-width: 1780px) {
    .header__content {
        max-width: 90%;
    }

    .map-section__col.col-right {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1480px) {
    .header__title {
        font-size: 42px;
    }

    .header__text {
        font-size: 24px;
    }

    body,
    .innings__btn,
    .innings-list {
        font-size: 15px;
    }

    h3 {
        font-size: 38px;
    }

    .innings__content {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .item-title {
        font-size: 28px;
    }

    .item-cirсle:after {
        width: calc(100% + 54px);
    }

    .item-price {
        padding-top: 50px;
        font-size: 22px;
    }

    .innings__item {
        max-width: 350px;
    }

    .what-need__content {
        padding-top: 8%;
    }

    .what-need__text {
        font-size: 22px;
    }

    .what-need__description {
        font-size: 16px;
    }

    .document {
        padding-top: 10%;
    }

    .document__text {
        font-size: 18px;
        padding-top: 30px;
    }

    .document__item-text {
        padding-top: 35px;
        font-size: 20px;
    }

    .receive {
        margin-top: 12%;
    }

    .biometrics {
        padding-top: 10%;
    }

    .biometrics .column__left {
        padding-right: 80px;
    }

    .biometrics__text {
        font-size: 16px;
    }

    .map-section, 
    .footer {
        margin-top: 10%;
    }

    .footer__col {
        padding-top: 8%;
    }

    .footer__col-left {
        width: 45%;
    }

    .footer__col-right {
        width: 55%;
    }

    .country__name {
        font-size: 20px;
    }

    .innings__title {
        padding-top: 5%;
    }

    .map-section__item {
        padding-top: 5%;
    }

    .map-section__contact {
        font-size: 24px;
    }

    .map-section__text {
        font-size: 18px;
    }

    .map-section__title {
        padding-bottom: 12px;
    }

    .header__content {
        max-width: 100%;
    }

    .header__form-input {
        width: 26%;
    }

    .header__content {
        padding-top: 35%;
        padding-bottom: 25%;
    }

    .top-bar__logo {
        img {
            max-width: 150px;
        }
    }

    .top-bar__info {
        padding: 8px 0;
        font-size: 14px;
    }

    .top-bar__logo {
        padding: 10px 0;
    }

    .country__content {
        padding-top: 7%;
    }
}

// ≥1200px
@include media-breakpoint-down(lg) {
	.header__form-input {
        width: 25%;
    }

    .header__title {
        font-size: 36px;
    }

    .country__item {
        width: 300px;
    }

    .country__flag {
        img {
            max-width: 100px;
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
