$default-font: "Montserrat";
$accent: #1035BB;;
$text: #000000;
$color: #F52B3A;
$color-btn: #FFFFFF;





// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1716px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1656px);

$gutter: $grid-gutter-width;
