@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
button:active, button:focus {
	outline: none;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea, button {
		outline: none;
		
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}
 
li {
	list-style: none;
}

h3 {
	font-size: 48px;
	font-weight: 600;
	line-height: 1.3;
}


.btn_first {
	border: none;
	color: $color-btn;
	background: $color;
	border-radius: 2.46108px;
	font-weight: 900;
}


.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 5;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	a {
		color: #fff;
	}
	&__info {
		padding: 15px 0;
		color: $color-btn;
		background: $accent;
	}
	&__container {
		display: flex;
		align-items: center;
	}
	&__logo {
		padding: 21px 0;
	}
	&__choice {
		margin-left: auto;
		position: relative;
		margin-right: 58px;
		&:after {
			content: "";
			position: absolute;
			top: -12px;
			left: -26px;
			width: 1px;
			height: 54px;
			background: #B2ABF2;
			opacity: 0.5;
		}
		&:before {
			content: "";
			position: absolute;
			top: -12px;
			left: 203px;
			width: 1px;
			height: 54px;
			background: #B2ABF2;
			opacity: 0.5;
		}
	}
	&__content {
		display: flex;
	}
	&__links {
		padding-top: 10px;
		margin-left:  auto;
	}
}

.menu__links {
	display: flex;

	a {
		&:not(:last-child) {
			li {
				margin-right: 30px;
			}
		}
	}

	&-item {
		color: $text;
		&:hover {
			color: $accent;
		}
	}
}

.responsive__menu {
	display: none;
}
.choice-btn {
	background: transparent;
	color: $color-btn;
	border: none;

}

.header {
	background: url(../img/Background_photo.png) no-repeat center center / cover;
	&__content {
		padding-top: 520px;
		padding-bottom: 290px;
		margin: 0 auto;
		max-width: 80%;
	}
	&__title {
		color: $color-btn;
		font-weight: 800;
		font-size: 52px;
		line-height: 1;
	}
	&__text {
		color: $color-btn;
		font-size: 28px;
		padding-bottom: 37px;
	}
	&__donate {
		background: $color-btn;
	}
	&__form {
		&-input {
			border:none;
			border-left: 1px solid #DFE4E8;
			padding: 28px 0 28px 36px;
			width: 27.3%;
		}
		&-btn {
			padding: 18px 35px;
		}
	}
}

.country {
	padding: 55px 0 50px;
	&__title {
		text-align: center;
	}
	&__content {
		padding-top: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		margin-bottom: 69px;
		box-shadow: 0px 2.17947px 20.52px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		width: 325px;
		.column {
			display: flex;
			&__left {
				padding-left: 15px;
			}
			&__right {
				padding-left: 20px;
				padding-top: 22px;
				padding-bottom: 20px;
				padding-right: 20px;	
				a {
					font-size: 12px;
					color: #676767;
					display: inline-block;
					position: relative;
					top: -5px;
					margin-bottom: 5px;
				}
			}
		}
	}
	&__name {
		font-size: 24px;
		font-weight: 600;
		line-height: 1;
	}
	&__btn {
		cursor: pointer;
		font-size: 11px;
		font-weight: 800;
		color: $accent;
		background: $color-btn;
		border-radius: 4px;
		border: 2px solid $accent;
		display: block;
		width: 148px;
		height: 34px;
		text-align: center;
		&:hover {
			color: $color-btn;
			background: $accent;
		}
	}
	&__flag {
		position: relative;
		top: -5px;
	}


	&__triger {
		text-align: center;
		&-btn {
			position: relative;
			cursor: pointer;
			color: #A6B3BC;
			border: none;
			background: transparent;
			font-weight: 18;
			font-weight: 800;
			&:after {
				content: "";
				position: absolute;
				top: 40px;
				left: 50%;
				transition: 0.5s;
				transform: translateX(-50%);
				width: 32px;
				height: 18px;
				background: url(../img/down.png);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}

	&__item-additionally {
		display: none;
	}

}
.additionally-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rotate {
	
	&:after {
		content: "";
		position: absolute;
		top: 40px;
		left: 40%;
		transition: 0.5s;
		transform: translateX(-50%);
		transform: rotate(-180deg);
		width: 32px;
		height: 18px;
		background: url(../img/down.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	
}

.innings {
	background: url(../img/bg_section.png);
	background-repeat: no-repeat;
	background-position: center center;

	&__title {
		padding-top: 113px;
		text-align: center;
	}

	&__content {
		padding-top: 88px;
		padding-bottom: 179px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		padding: 50px 26px 42px 28px;
		max-width: 390px;
		margin: 0 5px; 
		background: #FFFFFF;
		box-shadow: 0px 1.9166px 18.0451px rgba(0, 0, 0, 0.1);
		border-radius: 9.58301px;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		&:last-child {
			align-self: flex-start;
		}
	}
	&-list {
		display: block;
		max-width: 364px;
		font-weight: 500;
		font-size: 16px;
		line-height: 2;
	}
	&__btn {
		margin-top: 33px;
		padding: 14px 50px;
		font-size: 16px;
		color: $accent;
		border: 2px solid $accent;
		border-radius: 4px;
		background: $color-btn;
		font-weight: 800;
		&:hover {
			background: $accent;
			color: $color-btn;
		}
	}
}

.item-title {
	text-align: center;
	font-weight: 600;
	font-size: 34px;
	color: $color;
}
.item-cirÑle {
	text-align: center;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 25px;
		left: -28px;
		width: 389px;
		height: 2px;
		background: #A6B3BC;
	}

	img {
		position: relative;
		z-index: 3;
	}
}
.item-list {
	padding-top: 38px;
}
.item-price {
	margin-top: auto;
	text-align: center;
	font-weight: 800;
	font-size: 28px;
	color: $color;
	padding-top: 68px;
}

.what-need {
	.what-need-num {
		z-index: 1;
		position: absolute;
		top: -12px;
		left: 0px;
		font-size: 80px;
		font-weight: 800;
		color: #ECF1F4;
		line-height: 0.8;
	}
	&__title {
		text-align: center;
		color: $color;
	}
	&__content {
		padding-top: 116px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 30%;
		position: relative;
		 > div {
			 position: relative;
			 z-index: 1;
		 }
	}
	&__text {
		font-weight: 600;
		font-size: 28px;
		color: $accent;
		z-index: 10;
	}
	&__list {	
		position: relative;
	}
	&__description {
		padding-top: 32px;
		display: block;
		font-weight: 500;
		font-size: 22px;
		img {
			display: inline-block;
			margin-right: 12px;
		}
	}
}

.what-need__description {
	display: flex;
	span{
		img{
			padding-top: 7px;
			display: block;
		}
	}
}



.document {
	padding-top: 189px;
	&__title {
		text-align: center;
	}
	&__text {
		padding-top: 40px;
		text-align: center;
		font-weight: 600;
		font-size: 22px;
		color: $accent;
	}
	&__items {
		padding-top: 112px;
		padding-left: 10%;
		padding-right: 10%;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		text-align: center;
		&-text{
			padding-top: 43px;
			font-weight: 500;
			font-size: 24px;
		}
	}
}

.receive {
	margin-top: 261px;
	.column {
		display: flex;
		&__left {

			width: 50%;
			color: $color-btn;

			margin: 0 auto;
			background: url(../img/adult-blur-businessman-2072899.jpg) no-repeat center top / cover;
			position: relative;
		}
		&__right {
			width: 50%;
			background: $accent;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 113px;
			padding-bottom: 93px;
		}
	}
	&__title {
		padding-top: 275px;
	}
	&__text {
		padding-top: 28px;
		font-weight: 500;
		font-size: 18px;
		max-width: 480px;
		padding-bottom: 100px;
	}
	&__form {
		max-width: 510px;
	}
	&__consent {
		padding-top: 20px;
		display: flex;
		align-items: center;
		span {
			max-width: 200px;
			font-weight: 500;
			font-size: 12px;
			color: $color-btn;
			margin-right: 24px;
		}
		&-btn {
			font-weight: 800;
			font-size: 14px;
			padding: 15px 30px;
		}
		input {
			margin-right: 20px;
		}
	}
}	

.reseive__bg {
	background: linear-gradient(0deg, #000B6B, #000B6B), #ECF1F4;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	padding-left: 110px;
}


.dispatch-form {
	display: block;
	margin-top: 18px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ECF1F4;
	padding: 12px 0 14px 20px;
	&:placeholder {
		opacity: 0.3;
		color: #000000;
	}
	&:last-child {
		padding-bottom: 196px;
	}
}

.biometrics {
	padding-top: 132px;
	&-btn {
		margin-top: 55px;
		background-color: $accent;
		padding: 24px 58px;
		font-size: 16px;
		font-weight: 800;
	}
	&__title {
		color: $color;
		padding-bottom: 60px;
	}

	&__text {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.4;
		p {

		}
	}

	.column {
		display: flex;
		&__left {
			width: 50%;
			padding-right: 200px;
		}
		&__right {
			width: 50%;
			img {
				max-width: 100%;
			}
		}
	}
}

.ready {
	margin-top: 160px;
	background: url(../img/people.png) no-repeat center top / cover;
	padding: 140px 0 135px;
	color: #fff;
	text-align: center;
	&-text {
		padding-top: 18px;
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 45px;
	}

	&__donate {
		display: flex;
		justify-content: center;
		.header__donate {
			padding-right: 11px;
		}
		.header__form-input {
			width: 550px;
			border-left: none;
		}
	}
}

.map-section {
	margin-top: 180px;
	display: flex;
	&__col {
		width: 50%;
		&.col-left {
			min-height: 500px;
			position: relative;
		}
		&.col-right {
			width: 50%;
			padding-left: 150px;
			padding-top: 30px;
		}
	}
	&__title {
		color: $accent;
		padding-bottom: 26px;
	}
	&__item {
		padding-top: 57px;
	}
	&__contact {
		font-weight: 600;
		font-size: 32px;
	}
	&__text {
		font-weight: 500;
		font-size: 22px;
		span {
			display: block;
		}
		img {
			padding-right: 30px;
		}
	}
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.gm-style {
		> div {
			&:first-child {
				> div:first-child {
					filter: grayscale(100%);
				}
			}
		}
		
	}
}


.footer {
	margin-top: 230px;
	padding-bottom: 74px;
	background: rgba(236, 241, 244, 0.39);
	text-align: left;

	&__col {
		padding-top: 142px;
		display: flex;

		&-left {
			width: 50%;
		}

		&-right {
			width: 50%;
			display: flex;
			justify-content: space-between;
		}
	}
	&__discription {
		max-width: 488px;
		padding-top: 24px;
	}
	&__icon {
		padding-top: 65px;
		img {
			padding-right: 34px;
		}
	}
	&__section {
		font-weight: 500;
		font-size: 24px;
	}
	&__links {
		padding-top: 35px;
		a {
			display: block;
			font-weight: 300;
			font-size: 14px;
			color: $text;
			max-width: 266px;
		}
	}
}

.footer-copyright {
	padding: 23px 0;
	background: #A6B3BC;
	font-weight: 500;
	font-size: 12px;
	color: $color-btn;

	&__container {
		display: flex;
	}
	&__link {
		margin-left: auto;
		span {
			padding-left: 20px;
		}
	}
}
@import "media"; // Always at the end
