@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea, button {
		outline: none;
		
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}
 
li {
	list-style: none;
}

h3 {
	font-size: 48px;
	font-weight: 600;
	line-height: 54%;
}


.btn_first {
	border: none;
	color: $color-btn;
	background: $color;
	border-radius: 2.46108px;
	font-weight: 900;
}


.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 3;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	a {
		color: #fff;
	}
	&__info {
		padding: 15px 0;
		color: $color-btn;
		background: $accent;
	}
	&__container {
		display: flex;
		align-items: center;
	}
	&__logo {
		padding: 21px 0;
	}
	&__choice {
		margin-left: auto;
	}
	&__content {
		display: flex;
	}
	&__links {
		padding-top: 10px;
		margin-left:  auto;
	}
}

.menu__links {
	display: flex;

	&-item {
		color: $text;
		padding-right: 30px;
		&:hover {
			color: $accent;
		}
	}
}

.header {
	background: url(../img/Background_photo.png) no-repeat center center / cover;
	&__content {
		padding-top: 520px;
		padding-bottom: 290px;
		margin: 0 auto;
		max-width: 80%;
	}
	&__title {
		color: $color-btn;
		font-weight: 800;
		font-size: 52px;
		line-height: 1;
	}
	&__text {
		color: $color-btn;
		font-size: 28px;
		padding-bottom: 37px;
	}
	&__donate {
		background: $color-btn;
	}
	&__form {
		&-input {
			border:none;
			border-left: 1px solid #DFE4E8;
			padding: 28px 0 28px 36px;
			width: 27%;
		}
		&-btn {
			padding: 18px 35px;
		}
	}
}

.country {
	padding: 55px 0 50px;
	&__title {
		text-align: center;
	}
	&__content {
		padding-top: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: -20px;
	}
	&__item {
		margin-bottom: 69px;
		box-shadow: 0px 2.17947px 20.52px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		width: 325px;
		margin-right: 20px;
		.column {
			display: flex;
			&__left {
				padding-left: 15px;
			}
			&__right {
				padding-left: 20px;
				padding-top: 22px;
				padding-bottom: 20px;
				padding-right: 20px;	
				a {
					font-size: 12px;
					color: #676767;
					display: inline-block;
					position: relative;
					top: -5px;
					margin-bottom: 5px;
				}
			}
		}
	}
	&__name {
		font-size: 24px;
		font-weight: 600;
		line-height: 1;
	}
	&__btn {
		cursor: pointer;
		font-size: 11px;
		font-weight: 800;
		color: $accent;
		background: $color-btn;
		border-radius: 4px;
		border: 2px solid $accent;
		display: block;
		width: 148px;
		height: 34px;
		text-align: center;
		&:hover {
			color: $color-btn;
			background: $accent;
		}
	}
	&__flag {
		position: relative;
		top: -5px;
	}


	&__triger {
		text-align: center;
		&-btn {
			position: relative;
			cursor: pointer;
			color: #A6B3BC;
			border: none;
			background: transparent;
			font-weight: 18;
			font-weight: 800;
			&:after {
				content: "";
				position: absolute;
				top: 40px;
				left: 50%;
				transform: translateX(-50%);
				width: 32px;
				height: 18px;
				background: url(../img/down.png);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}

}

.innings {
	background: url(../img/bg_section.png);
	background-repeat: no-repeat;
	background-position: center center;

	&__title {
		padding-top: 113px;
		text-align: center;
	}

	&__content {
		padding-top: 88px;
		padding-bottom: 209px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		padding: 50px 26px 42px 28px;
		max-width: 390px;
		margin: 0 5px; 
		background: #FFFFFF;
		box-shadow: 0px 1.9166px 18.0451px rgba(0, 0, 0, 0.1);
		border-radius: 9.58301px;
		display: flex;
		flex-direction: column;
		&:last-child {
			align-self: flex-start;
		}
	}
	&-list {
		display: block;
		max-width: 364px;
		font-weight: 500;
		font-size: 16px;
		line-height: 2;
	}
	&__btn {
		margin-top: 33px;
		padding: 14px 50px;
		font-size: 16px;
		color: $accent;
		border: 2px solid $accent;
		border-radius: 4px;
		background: $color-btn;
		font-weight: 800;
		&:hover {
			background: $accent;
			color: $color-btn;
		}
	}
}

.item-title {
	text-align: center;
	font-weight: 600;
	font-size: 34px;
	color: $color;
}
.item-cirÑle {
	text-align: center;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 25px;
		left: -28px;
		width: 389px;
		height: 2px;
		background: #A6B3BC;
	}
}
.item-list {
	padding-top: 38px;
}
.item-price {
	margin-top: auto;
	text-align: center;
	font-weight: 800;
	font-size: 28px;
	color: $color;
	padding-top: 68px;
}

.what-need {
	.what-need-num {
		z-index: 1;
		position: absolute;
		top: -12px;
		left: 0px;
		font-size: 80px;
		font-weight: 800;
		color: #ECF1F4;
		line-height: 0.8;
	}
	&__title {
		text-align: center;
		color: $color;
	}
	&__content {
		padding-top: 116px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 30%;
		position: relative;
		 > div {
			 position: relative;
			 z-index: 1;
		 }
	}
	&__text {
		font-weight: 600;
		font-size: 28px;
		color: $accent;
		z-index: 10;
	}
	&__list {	
		position: relative;
	}
	&__description {
		padding-top: 32px;
		display: block;
		font-weight: 500;
		font-size: 22px;
		img {
			display: inline-block;
			margin-right: 12px;
		}
	}
}

.element1:before {
	content: "";
	position: absolute;
	top: 100px;
	left: 0;
	width: 116px;
	height: 80px;
	background: url(../img/01.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
}
.element2:before {
	content: "";
	position: absolute;
	top: 100px;
	left: 37%;
	width: 166px;
	height: 80px;
	background: url(../img/02.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
}
.element3:before {
	content: "";
	position: absolute;
	top: 100px;
	right: 0;
	width: 116px;
	height: 80px;
	background: url(../img/03.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
}

.document {
	padding-top: 189px;
	&__title {
		text-align: center;
	}
	&__text {
		padding-top: 40px;
		text-align: center;
		font-weight: 600;
		font-size: 22px;
		color: $accent;
	}
	&__items {
		padding-top: 112px;
		padding-left: 10%;
		padding-right: 10%;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		text-align: center;
		&-text{
			padding-top: 43px;
			font-weight: 500;
			font-size: 24px;
		}
	}
}

.receive {
	margin-top: 261px;
	background: url(../img/adult-blur-businessman-2072899.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	.column {
		display: flex;
		&__left {
			padding-top: 316px;
			padding-bottom: 318px;
			width: 50%;
			color: $color-btn;
		}
		&__right {
			width: 50%;
			background: $accent;
		}
	}
	&__title {

	}
	&__text {
		padding-top: 28px;
		font-weight: 500;
		font-size: 18px;
		max-width: 480px;
	}
}	

.biometrics {
	padding-top: 132px;
	&-btn {
		margin-top: 55px;
		background-color: $accent;
		padding: 24px 58px;
		font-size: 16px;
		font-weight: 800;
	}
	&__title {
		color: $color;
		padding-bottom: 60px;
	}

	&__text {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.4;
		p {

		}
	}

	.column {
		display: flex;
		&__left {
			width: 50%;
			padding-right: 200px;
		}
		&__right {
			width: 50%;
			img {
				max-width: 100%;
			}
		}
	}
}

.ready {
	background: url(../img/people.png) no-repeat center top / cover;
	padding: 140px 0 135px;
	color: #fff;
	text-align: center;
	&-text {
		padding-top: 18px;
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 45px;
	}

	&__donate {
		display: flex;
		justify-content: center;
		.header__donate {
			padding-right: 11px;
		}
		.header__form-input {
			width: 550px;
			border-left: none;
		}
	}
}

.map-section {
	&__col {
		width: 50%;
		&.col-left {
			min-height: 500px;
			position: relative;
		}
	}
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.gm-style {
		> div {
			&:first-child {
				> div:first-child {
					filter: grayscale(100%);
				}
			}
		}
		
	}
}

@import "media"; // Always at the end
